.title {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1441986380878-c4248f5b8b5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);
  /* background-color: white; */
  font-size: 56px;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #f9f9f9;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px;
}
.time {
  background-color: rgba(219, 198, 170, 0.479);
  color: #585858;
  font-family: "Roboto", sans-serif;
}
.text {
  font-family: "Roboto", sans-serif;
}

.text-box {
  position: relative;
  height: 20px;
  width: auto;
  border: 2px solid rgb(235, 209, 170);
  background-color: white;
  border-radius: 24px;
  outline: none;
}
.text-box:focus {
  border: 2px solid rgb(179, 138, 77);
  transition: 0.3s;
}

.center {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 50px;
}

.btn-submit {
  background-color: blanchedalmond;
  font-family: "Roboto", sans-serif;
  /* border-radius: 25px; */
  border: 0px solid burlywood;
  width: 60px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  border-radius: 24px;
}
.btn-submit:hover {
background-color: burlywood;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-align: center;
  padding: 10px 8px 10px 30px;
  list-style-type: none;
  background: moccasin;
  font-size: 15px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: cornsilk;
}

/* Darker background-color on hover */
ul li:hover {
  background: wheat;
}

/* When clicked on, add a background color and strike out text */
/* ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
} */

/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10.8px 16px 10.8px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}